* {
  font-family: helvetica;
}

.navigation {
  font-size: 18px;
  line-height:1.8;
  color: white;
  text-align: center;
}

#banner {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 300px;
  color: white;
}

#process {
  color: black;
  text-align: center;
}
h3 {
  font-size: 32px;
  font-weight: bold;
  }

h4 {
  font-size: 23px;
  font-weight: bold;
  }
#midpage {
  color: white;
}

p {
  font-size: 14px;
}
.black {
  color: black;
}

.white {
  color: white;
}

#footer {
  color: white;
  background color: dimgray;
  text-align: left;
  font-size: 11px;
  height: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
